*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
.main{
    width: 90%;
    margin: auto;
}

//header styling
.header{
    width: 82%;
    margin: auto;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    // padding: 28px 0px 0px 0px;
    display: flex;
    align-items: first baseline;
    align-content: center;
    // justify-content: space-between;
    gap: 4%;
    z-index: 50;
}
.site-logo img{
  width: 95%;
    // font-size: 25px;
    // font-weight: 1000;
}

.desktop-nav {
    display: none;
    gap: 20px;
    
  a {
    color: hsl(0, 100%, 100%);
    font-size: 13px;
    text-decoration: none;
  }
}

.menu-icon img {
    width: 25px;
    cursor: pointer;
    transition: transform 0.8s ease-in-out;
}
  
  /* MOBILE MENU */
.mobile-nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-start;
}
  
.mobile-nav {
    width: 100%;
    height: 12%;
    background: hsl(0, 100%, 100%);
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 25px;
    //to justify and align the overlay navs as its on the original project
    justify-content: center;
    justify-content: space-between;
  
    a {
      color: hsl(0, 0%, 0%);
      font-weight: 700;
      font-size: 13px;
      text-decoration: none;
      margin-right: 30px;
    }
}

.close-icon {
    width: 20px;
    align-self: flex-start;
    // align-self: flex-end;
    cursor: pointer;
    margin-left: 30px;
    transition: transform 0.8s ease-in-out;
}
  
  /* DESKTOP responsiveness to view how it works well */
@media (min-width: 900px) {
    .menu-icon {
      display: none;
    }
  
    .desktop-nav {
      display: flex;
    }
} /* DESKTOP responsiveness ends here, I don't do ti at ago for flexibilty */

//for hero slider at the right side
.hero-slider {
    display: grid;
    grid-template-columns: 1fr;
  
    @media (min-width: 900px) {
      grid-template-columns: 1.5fr 1fr;
    }// inputing it responsiveness straight
}

.hero-slider{
  position: relative;
  overflow: hidden;

  //right side styling
  .slider-image img {
    width: 100%;
    display: block;
  }
  
  .slider-buttons {
    position: absolute;
    top: 50%;
    right: 0;
    // transform: translateY(-50%);
    left: 70%;
    bottom: -87.5%;
    display: flex;
    gap: 0;
    z-index: 50;
    background-color: aqua;

    div .arrow-btn {
      background: hsl(0, 0%, 0%);
      border: none;
      // padding: 15px;
      width: 60px;
      height: 54px;
      border: none;
      background: #000;
      color: hsl(0, 100%, 100%);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      
      img {
        width: 14px;
      }
  
      &:hover{
        background-color: hsl(0, 0%, 27%);
        transition: 0.3s ease-in;
      }
    }
  }
  
}

.slider-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background-color: rgb(250, 121, 190);

}
.rightPadding{
  padding: 0px 80px;

  .heroText{
    h1 {
      font-size: 40px;
      // font-weight: 700;
      margin-bottom: 18px;
      // margin-bottom: 20px;
      letter-spacing: -1px;
    }
    p {
      color: hsl(0, 0%, 63%);
      margin-bottom: 20px;
      font-size: 13px;
      line-height: 1.5;
    }
  }

}

.shop-btn {
  margin-top: 20px;
  background: none;
  border: none;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;

  &:hover{
    // background-color: hsl(0, 0%, 27%);
    color: hsl(0, 0%, 63%);
    transition: 0.3s ease-in;
  }
}


//about section
.about-area {
    display: grid;
    grid-template-columns: 1fr;
  
    @media (min-width: 800px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
  .about-img {
    width: 100%;
    display: block;
  }
  
  .about-text {
    padding: 30px;
  
    h3 {
      letter-spacing: 3px;
      margin-bottom: 15px;
    }
  
    p {
      color: hsl(0, 0%, 63%);
      line-height: 1.5;
    }
}