*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: absolute;
    width: 100%;
    z-index: 10;
    color: blueviolet;
    background-color: aqua;
}
.site-logo {
    // font-size: 25px;
    // font-weight: 1000;
}

.desktop-nav {
    // display: none;
    gap: 20px;
    
  a {
    color: #fff;
    text-decoration: none;
  }
}